<h2>Template</h2>
<hr>
<ul class="list-group">
  <li 
    *ngFor="let item of templateMenuItems" 
    class="list-group-item"
    [routerLink]="item.path"
    routerLinkActive="active"
  >
    {{ item.name }}
  </li>
</ul>
<br>

<h2>Reactive</h2>
<hr>
<ul class="list-group">
  <li 
    *ngFor="let item of reactiveMenuItems" 
    class="list-group-item"
    [routerLink]="item.path"
    routerLinkActive="active"
  >
    {{ item.name }}
  </li>
</ul>
<br>

<h2>Validations</h2>
<hr>
<ul class="list-group">
  <li 
    *ngFor="let item of validationsMenuItems" 
    class="list-group-item"
    [routerLink]="item.path"
    routerLinkActive="active"
  >
    {{ item.name }}
  </li>
</ul>
<br>