<h2>Reactive: <small>Dynamic</small></h2>
<hr>

<form
  autocomplete="off"
>
  
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label" >Name</label>
    <div class="col-sm-9">
      <input 
        type="text"
        class="form-control"
        placeholder="Name"
      >
      <small 
        class="text-danger"
      >
        Field is required
      </small>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-3 col-form-label" >Add</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input 
          type="text"
          class="form-control"
          placeholder="Add favorite game"
        >
        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="null"
        >Add</button>
      </div>
    </div>
  </div>


  <div class="row mb-3">
    <label class="col-sm-3 col-form-label" >Favorites</label>
    <div class="col-sm-9">
      <!-- <div 
        class="input-group mb-1"
        *ngFor="let favorite of person.favorites; let i = index"
      >
        <input 
          type="text"
          class="form-control"
        >
        <button
          class="btn btn-outline-danger"
          type="button"
          (click)="null"
        >Delete</button>
      </div> -->
    </div>
  </div>

  <div class="row float-end">
    <div class="col-sm-9">
      <button
        class="btn btn-primary"
        type="button"
        (click)="null"
      >
        Save
      </button>
    </div>
  </div>

</form>

<!-- <div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ myForm.valid | json }}</pre>

    <span>Pristine</span>
    <pre>{{ myForm.pristine | json }}</pre>

    <span>Touched</span>
    <pre>{{ myForm.touched | json }}</pre>

    <span>Value</span>
    <pre>{{ myForm.value | json }}</pre>

    <span>Person</span>
    <pre>{{ person | json }}</pre>

    <span>New Game</span>
    <pre>{{ newGame | json }}</pre>
  </div>
</div> -->